*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #111;
}

body {
    font-size: 1.6rem;
    background-color: #eeeeee;
}

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    background-color: initial; /* Caurspīdīgs */
    transition: all 0.5s ease-in;
}

.scroll-header {
    background-color: #191919;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: initial;
}

/* 1. līmeņa .nav-list items */
.nav-list > li {
    line-height: 8rem;
    position: relative; /* Ja grib izmantot arī 2. līmeņa nav items */
}

/* Visiem linkiem, kas ir iekš .nav-list */
.nav-list a {
    display: block;
    color: #eeeeee;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
}

.nav-list a:hover {
    color: #034715;
}

.index-intro , .signup-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Augstumā aizņem visu ekrāna izmēru */
    background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
    url("images/bg.jpg") center no-repeat;
    background-size: cover;
}

.text {
    width: 100%;
    text-align: center;
    color: #eeeeee;
}

.text h1 {
    font-size: 5rem;
    margin: 2rem 0;
}

.text p {
    font-size: 2rem;
}

.index-categories {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.index-categories h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.index-categories-list {
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat( auto-fit, minmax(20rem, 1fr) ); /* Šādi uzreiz ir responsīvi, kur min platums bērnu elementiem ir 200px */
    grid-template-columns: repeat( auto-fit,20rem);
    justify-content: center;
    gap: 1rem;
}

.index-categories-list > div {
    min-height: 20rem;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 650ms;
}

.index-categories-list > div:hover {
    box-shadow: 7px 7px 5px #034715;
}

.index-categories-list h3 {
    color: #eeeeee;
    transition: all 650ms;
}

.index-categories-list > div:hover h3 {
    color: #034715;
}

/*****  SIGNUP *****/
.signup-form-box {
    color: #191919;
    background: rgba(238, 238, 238, .5);
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 600px;
}

.signup-form-box h2 {
    margin-bottom: 1rem;
    text-align: center;
}

.input-group {
    margin-bottom: 2rem;
    position: relative;
}

input {
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 1px solid #034715;
    background: initial;
    font-size: 1.5rem;
}

::placeholder {
    color: #034715; 
}

button[type=submit] {
    width: 100%;
    padding: 1rem 0;
    outline: none;
    border: 1px solid #034715;
    color: #034715;
    background: rgba(3, 71, 21, .5);
    font-size: 1.5rem;
    cursor: pointer;
}

/***** Hamburger menu *****/
.hamburger-menu {
    display: none; /* 4 */
    line-height: 8rem;
    cursor: pointer;
}

/* 6 .active klase */
.close-btn {
    display: none;
}

/* Ja active, tad jāparāda close poga */
.active .close-btn{
    display: block;
}

/* Ja active, tad jānoslēpj menu poga */
.active .menu-btn{
    display: none;
}

/* Ja active, tad jāparāda .nav-list, kas default ir display:none, to var redzēt pie media query */
.active .nav-list{
    display: flex;
}
/* Regulārais lūzuma punkts. Maina pogu virzienus no rindas uz kolonnas. */
@media (max-width: 768px){
    .nav-list {
        flex-direction: column;/* 1 */
        display: none;
        background-color: #191919;
    }

    .hamburger-menu {
        display: block; /* 3 */
        color: #eeeeee;
    }

    
}



/*pussy*/